[[local|localrc]]
DATABASE_PASSWORD=openstack
RABBIT_PASSWORD=openstack
SERVICE_TOKEN=openstack
SERVICE_PASSWORD=openstack
ADMIN_PASSWORD=openstack
# magnum requires the following to be set correctly
PUBLIC_INTERFACE=enp0s3
# Enable barbican service and use it to store TLS certificates
# For details https://docs.openstack.org/developer/magnum/userguide.html#transport-layer-security
enable_plugin barbican https://git.openstack.org/openstack/barbican
enable_plugin heat https://git.openstack.org/openstack/heat
# Enable magnum plugin after dependent plugins
enable_plugin magnum https://git.openstack.org/openstack/magnum
# Optional:  uncomment to enable the Magnum UI plugin in Horizon
enable_plugin magnum-ui https://github.com/openstack/magnum-ui
enable_plugin ceilometer https://git.openstack.org/openstack/ceilometer
VOLUME_BACKING_FILE_SIZE=20G
LOGFILE=/opt/stack/logs/stack.sh.log
HOST_IP=10.0.2.6
FLOATING_RANGE=192.168.55.0/24
PUBLIC_NETWORK_GATEWAY=10.0.2.2
enable_service s-proxy
enable_service s-object
enable_service s-container
enable_service s-account

## Milestone of each components
VERSION=stable/queens
CINDER_BRANCH=$VERSION
GLANCE_BRANCH=$VERSION
HORIZON_BRANCH=$VERSION
KEYSTONE_BRANCH=$VERSION
NOVA_BRANCH=$VERSION
NEUTRON_BRANCH=$VERSION
SWIFT_BRANCH=$VERSION
